body { padding-top: 70px; }
.box{
  height: 200px;
  border: 1px solid #000;
  position: relative;
  padding: 10px;
}
.box-btn{
  text-align: center;
  font-size: 60px;
  padding-top: 55px;
}

.status{
  position: absolute;
  height: 36px;
  width: 36px;
  right: 10px;
  bottom: 10px;
}